<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>7045242409-83v0vrl089qofpd5ccp8qssfjaaknibi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.7045242409-83v0vrl089qofpd5ccp8qssfjaaknibi</string>
	<key>API_KEY</key>
	<string>AIzaSyB7fd2NvGu1FD3dtaRcknItlx5kvOr9gTo</string>
	<key>GCM_SENDER_ID</key>
	<string>7045242409</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>chat-app-4bbaf</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-4bbaf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:7045242409:ios:02f6145dc81b8377e28638</string>
</dict>
</plist>